<!--
    auto created by @ztwx vue3 template!!
    @pageAuthor  :  ${tp_user}
    @AuthorEmail :  ${tp_email}
    @pageCreated :  ${tp_now}
-->

<template>
    <div>
        ${tp_name} component work!!!
    </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
@Options({})
export default class extends Vue {

}
</script>
<style scoped src="./${tp_file_name}.scss" lang="scss"></style>